.vidgets {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    row-gap: 20px;

    &__empty {
        padding: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        background: linear-gradient(90deg, rgba(199, 255, 146, 1) 0%, rgba(29, 253, 245, 1) 52%, rgba(255, 255, 255, 1) 100%);
        border: 1px solid gray;
        border-radius: 20px;
    }
}

.vidget {
    background: linear-gradient(90deg, rgba(199, 255, 146, 1) 0%, rgba(29, 253, 245, 1) 52%, rgba(255, 255, 255, 1) 100%);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    // .vidget__location
    &__location {}

    // .vidget__city
    &__city {}

    // .vidget__region
    &__region {}

    // .vidget__country
    &__country {}
}